/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.color-red{color: red;}
.align-center{text-align: center;}
.mr-20{margin-right: 20px;}
.min-width-20{min-width: 20rem !important;}
.margin-4{
    margin: 4rem;
}
.flex-inline{display: inline-flex;}