<div class="align-center padding-top-15">
  <h3>Login</h3>
  <ng-container *ngIf="showError">
    <h4 class="color-red">{{ errorMsg }}</h4>
  </ng-container>
  <form [formGroup]="loginObj" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="min-width-20">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" />
      </mat-form-field>
      <div
        *ngIf="
          loginObj?.get('username')?.invalid &&
          loginObj?.get('username')?.errors &&
          (loginObj?.get('username')?.dirty ||
            loginObj?.get('username')?.touched)
        "
      >
        <span
          class="color-red"
          *ngIf="loginObj?.get('username')?.hasError('required')"
        >
          Username is required!
        </span>
      </div>
    </div>
    <div>
      <mat-form-field class="min-width-20">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <div
        *ngIf="
          loginObj?.get('password')?.invalid &&
          loginObj?.get('password')?.errors &&
          (loginObj?.get('password')?.dirty ||
            loginObj?.get('password')?.touched)
        "
      >
        <span
          class="color-red"
          *ngIf="loginObj?.get('password')?.hasError('required')"
        >
          Password is required!
        </span>
      </div>
    </div>
    <div class="flex-inline">
      <button mat-raised-button [disabled]="loginObj.invalid" class="mr-20">Submit</button>
      <ng-container *ngIf="loader">
        <mat-spinner class="" [diameter]="30"> </mat-spinner>
      </ng-container>
    </div>
  </form>
</div>
